/* Custom Styles */
body {
    font-family: Arial, sans-serif;
    padding-top: 56px;
    background-color:gray;
}

.gallery img {
    max-height: 200px;
    object-fit: cover;
}
.navbar-brand img {
    height: 40px; /* Adjust based on your logo size */
}

.hero, .about, .programs, .gallery, .contact {
    padding-top: 20px; /* Adjust as needed for spacing within sections */
}

.hero {
    background-image: url('images/2019-01-27.jpg'); /* Path to your background image */
    background-size: cover; /* Make the image cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    color: white; /* Optional: Adjust text color for better contrast */
    height: 90vh; /* Ensure the section covers the full viewport height */
    display: flex; /* Flexbox to center content */
    align-items: center; /* Center content vertically */
}

.about-us-details {
    display: flex;
    gap: 10px;
}